<h1 mat-dialog-title>
  {{
  data.action === "add"
  ? "Dodaj gabinet"
  : data.action === "edit"
  ? "Edytuj
  gabinet"
  : "Usuń gabinet"
  }}
</h1>
<div mat-dialog-content fxLayout="column" *ngIf="data.action !== 'delete'">
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Podmiot medyczny</mat-label>
    <mat-select [(value)]="data.centerId" name="centerId">
      <mat-option *ngFor="let center of data.centers" [value]="center.centerId">{{ center.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex appearance="outline">
    <mat-label>Nazwa</mat-label>
    <input matInput [(ngModel)]="data.name" required autocomplete="off" />
  </mat-form-field>
  <mat-form-field appearance="outline" fxFill>
    <mat-label>Audio</mat-label>
    <mat-select [(value)]="data.audio" name="audio">
      <mat-option [value]="false">Wyłączone</mat-option>
      <mat-option [value]="true">Włączone</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" fxFill>
    <mat-label>Rodzaj</mat-label>
    <mat-select [(value)]="data.type" name="type">
      <mat-option [value]="officeTypeEnum.office">Gabinet</mat-option>
      <mat-option [value]="officeTypeEnum.register">Rejestracja</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-content *ngIf="data.action === 'delete'">
  <p>Czy napewno chcesz usunąć wskazany element?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="{
      officeId: data.officeId,
      name: data.name,
      audio: data.audio,
      type: data.type,
      centerId: data.centerId,
      action: data.action
    }" cdkFocusInitial color="primary">
    {{ data.action !== "delete" ? "Zapisz" : "Potwierdzam" }}
  </button>
</div>