<div class="mat-elevation-z1">
  <button
    mat-raised-button
    class="primary-color-bg"
    (click)="addOffice({ action: 'add' })"
  >
    Dodaj gabinet
  </button>
  <mat-table [dataSource]="offices" class="mat-elevation-z8">
    <!-- Counter Column -->
    <ng-container matColumnDef="officeId">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.officeId }}</mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <!-- Mask Column -->
    <ng-container matColumnDef="mask">
      <mat-header-cell *matHeaderCellDef> Maskowanie </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.mask }}</mat-cell>
    </ng-container>
    <!-- Mask Column -->
    <ng-container matColumnDef="centerId">
      <mat-header-cell *matHeaderCellDef>
        Podmiot medyczny (id)
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.centerId }}</mat-cell>
    </ng-container>
    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef fxFlex="20"> Opcje </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="20">
        <button
          mat-raised-button
          class="warn-color-bg"
          (click)="
            editOffice({
              officeId: element.officeId,
              name: element.name,
              mask: element.mask,
              centerId: element.centerId,
              action: 'edit'
            })
          "
        >
          Edytuj
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="
            deleteOffice({
              officeId: element.officeId,
              name: element.name,
              mask: element.mask,
              centerId: element.centerId,
              action: 'delete'
            })
          "
        >
          Usuń
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
