<h1 mat-dialog-title>Weryfikacja biletu ({{ data.mark + data.number }})</h1>
<div mat-dialog-content fxLayout="column">
  <p>Czy bilet jest prawidłowy?</p>
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Rodzaj biletu</mat-label>
    <mat-select [(value)]="data.ticketTypeId" name="ticketTypeId">
      <mat-option
        *ngFor="let ticketType of data.ticketTypes"
        [value]="ticketType.ticketTypeId"
        >{{ ticketType.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="{
      ticketId: data.ticketId,
      ticketTypeId: data.ticketTypeId,
      action: 'delete'
    }"
    cdkFocusInitial
    color="warn"
  >
    Odrzuć
  </button>
  <button
    mat-button
    [mat-dialog-close]="{
      ticketId: data.ticketId,
      ticketTypeId: data.ticketTypeId,
      action: 'confirm'
    }"
    cdkFocusInitial
    color="primary"
  >
    Potwierdź
  </button>
</div>
