<div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column">
  <mat-card fxFlex="50" fxFlex.sm="100">
    <form #positionForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-card-header>
        <mat-card-title>Ustawienia wydruku</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Wybierz podmiot</mat-label>
          <mat-select [(ngModel)]="printerSettings.centerId" name="centerId">
            <mat-option *ngFor="let center of centers" [value]="center.centerId">{{ center.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tytuł</mat-label>
          <input matInput [(ngModel)]="printerSettings.title" name="title" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Podtytuł</mat-label>
          <input matInput [(ngModel)]="printerSettings.subtitle" name="subtitle" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Komunikat</mat-label>
          <input matInput [(ngModel)]="printerSettings.statement" name="statement" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" style="margin-left: 13px" class="primary-color-bg">
          Zapisz
        </button>
        <button color="warn" routerLink="../" mat-raised-button>Wróć</button>
      </mat-card-actions>
    </form>
  </mat-card>
  <!-- Podgląd wydruku -->
  <mat-card fxFlex="50" fxFlex.sm="100">
    <mat-card-header>
      <mat-card-title>Podgląd wydruku</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutAlign="center">
      <div class="preview" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="center">
          <p class="title">{{ printerSettings.title }}</p>
        </div>
        <div fxLayoutAlign="center">
          <p class="subtitle">{{ printerSettings.subtitle }}</p>
        </div>
        <div fxLayoutAlign="space-between">
          <p class="time">{{ today | date: "dd/MM/yyyy" }}</p>
          <p class="time">{{ today | date: "H:mm:ss" }}</p>
        </div>
        <fieldset align="center" fxLayoutAlign="center">
          <!-- <legend>NAZWA GABINETU</legend> -->
          <div fxLayoutAlign="center">
            <p class="ticket">- 100 -</p>
          </div>
        </fieldset>
        <div fxLayoutAlign="center">
          <p class="statement">{{ printerSettings.statement }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>