<div class="mat-elevation-z1">
  <button
    mat-raised-button
    class="primary-color-bg"
    (click)="addLab({ action: 'add' })"
  >
    Dodaj pracownie
  </button>
  <mat-table [dataSource]="labs" class="mat-elevation-z8">
    <!-- Counter Column -->
    <ng-container matColumnDef="labId">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.labId }}</mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Opis </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
    </ng-container>
    <!-- Description Column -->
    <ng-container matColumnDef="centerId">
      <mat-header-cell *matHeaderCellDef>
        Podmiot medyczny (id)
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.centerId }}</mat-cell>
    </ng-container>
    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef fxFlex="20"> Opcje </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="20">
        <button
          mat-raised-button
          class="warn-color-bg"
          (click)="
            editLab({
              labId: element.labId,
              name: element.name,
              description: element.description,
              centerId: element.centerId,
              action: 'edit'
            })
          "
        >
          Edytuj
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="
            deleteLab({
              labId: element.labId,
              name: element.name,
              description: element.description,
              centerId: element.centerId,
              action: 'delete'
            })
          "
        >
          Usuń
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
