<div fxLayout="column" fxLayoutAlign="space-between" fxFill>
  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <div fxFlex fxLayoutAlign="start">
          <span class="header"> {{ office.name }} </span>
        </div>

        <div fxFlex fxLayoutAlign="end">
          <span class="timer digits">{{ today | date: "H:mm:ss" }}</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxFlexAlign="center" class="ticket digits">
    {{ ticket == null ? "PRZERWA" : ticket.number + ticket.mark }}
  </div>
  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <div fxFlex fxLayoutAlign="center">
          <span class="footer">Aktualnie obsługiwany pacjent</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
