@font-face {
  font-family: contm;
  src: url(../../../../assets/fonts/contm.eot),
    url(../../../../assets/fonts/contm.eot#iefix) format("embedded-opentype"),
    url(../../../../assets/fonts/contm.ttf) format("truetype"),
    url(../../../../assets/fonts/contm.woff) format("woff"),
    url(../../../../assets/fonts/contm.svg#contm) format("svg");
  font-weight: 400;
  font-style: normal;
}

.digits {
  font-family: contm;
}

.mat-toolbar {
  min-height: 100px !important;
  background-color: var(--primary-color);
  color: #ffffff;
}

.mat-toolbar-row {
  min-height: 100px !important;
}

.timer {
  font-size: 48px;
  font-weight: 700;
}

.header {
  font-size: 48px;
  font-weight: 700;
}

.footer {
  font-size: 48px;
  font-weight: 700;
}

.mat-ripple:hover {
  cursor: pointer;
}

.ticket-number {
  font-size: 24px;
}

.ticket-name {
  font-size: 18px;
  color: #828da6;
}

.ticket-list {
  min-width: 40%;
}

.mat-list-base {
  padding-top: 0px;
}

.mat-list-item {
  padding-top: 8px !important;
}

//Box z biletem
.active-ticket-box {
  border: 2px dashed #828da6;
  font-size: 64px;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
}

//Przyciski
button {
  height: 100px;
}

@media screen and (max-width: 1920px) {
  button {
    font-size: 48px;
  }
}

@media screen and (max-width: 1440px) {
  button {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  button {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  button {
    font-size: 12px;
  }
}
