<div fxLayout="column" fxFill>
  <!-- header -->
  <div fxFlex="10" style="background-color: red"></div>
  <!-- sub-header -->
  <div fxFlex="10" fxLayout="row" fxLayoutAlign="space-around center">
    <div>Lekarz</div>
    <div>Gabinet</div>
    <div>Aktywny</div>
    <div>Oczekujący</div>
  </div>
  <!-- body -->
  <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="70" style="background-color: blanchedalmond;">
    <!-- content body -->
    <div fxLayout="row" fxLayoutAlign="space-around">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
  </div>
  <!-- footer -->
  <div fxFlex style="background-color: blue"></div>
</div>